<%- include('../../partials/header.ejs')%>
<body>
    <%- include ('../../partials/navbar.ejs')%>


    <div class="container">
        <hr>
        <h2>Editar categoria</h2>
        <hr>
        <form method="POST" action="/categories/update">
            <input type="text" name="title" class="form-control" placeholder="Defina um titulo da categoria" value="<%=category.title%>"><br>
            <input type="hidden" name="id" value="<%=category.id%>">
            <button class="btn btn-success">Atualizar</button>
        </form>
    </div>
</body>

<%- include('../../partials/footer.ejs')%>